nav > ul >li{
    display: inline-flex;
    padding: 10px 20px;
    margin: 8px;
    border-radius: 10px;
    background-color: aliceblue;
}

nav li > a{
    text-decoration: none;
}

nav > ul > li:hover{
    transition: 1s;
    background-color: antiquewhite;
}